/* Full Page */
.fullpage-wrap {
  background-image: url("../img/meta-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 20% center;
}

.fullpage-wrap.d-none {
  padding-top: 30px;
}

.section {
  padding: 0 10rem;
}

.fp-logo {
  width: 14rem;
}

.fp-title-roadmap {
  font-size: 14vw;
  margin-left: -10px;
}

.fp-subtitle-roadmap {
  margin-bottom: 3em;
}

.fp-link-app:first-child {
  padding-right: 15px;
}

.fp-link-app:not(:first-child) {
  padding: 0 15px;
}

.fp-link-app:not(:last-child) {
  border-right: 2px solid white;
}

.fp-link-app a {
  color: #ffffff;
  text-decoration: none;
}

.quarter-left {
  text-align: left;
}

.quarter-right {
  text-align: right;
}

.fp-link-app a:hover {
  text-decoration: underline;
}

.fp-quarter-text-1 {
  font-size: 8em;
}

.fp-quarter-text-2 {
  font-size: 3em;
}

.fp-quarter-text-3 {
  margin-top: 1.25em;
  font-size: 8em;
}

.fp-quarter-text-4 {
  font-size: 5em;
}

.fp-icon-roadmap {
  margin-right: 20px;
}

.fp-icon-outer {
  border: 1px solid white;
  border-radius: 50%;
  padding: 3px;
  width: 20px;
  height: 20px;
}

.fp-icon-inner {
  border: 6px solid white;
  border-radius: 50%;
  width: 11px;
  height: 11px;
}

.fp-roadmap-details {
  text-align: left;
}

.fp-roadmap-item:not(:last-child) {
  margin-bottom: 2em;
}

.fp-slidesNav.fp-bottom {
  bottom: 40px !important;
  text-align: center;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: #ffffff !important;
}

.fp-text-indent {
  text-indent: 1rem;
}

.fp-divider {
  border: 0;
  margin: 0 1.5em;
  border-left: 4px solid white;
  height: auto;
}

.fp-restore-padding {
  padding: 0;
}

.fp-link-alt {
  color: white;
  text-decoration: underline;
  transition: all 0.2s ease;
}

.fp-link-alt:hover {
  color: #e5e5e5;
}

.fp-past-roadmap {
  color: #aaa !important;
}

.fp-current {
  background-color: rgba(250, 250, 250, 0.5);
}

.fp-current-mobile a {
  color: #ddb199 !important;
}

/* Mobile */
.mbl-title {
  font-size: 14vw;
}

@media (min-width: 1800px) {
  .fp-title-roadmap {
    font-size: 14.5em;
  }
}

@media (max-width: 991px) {
  .section {
    padding: 0 6rem;
  }

  .section#footer {
    padding: 0 !important;
  }

  .fp-quarter-text-1,
  .fp-quarter-text-3 {
    font-size: 13vw;
  }

  .fp-quarter-text-2 {
    font-size: 4vw;
  }
}

@media (max-width: 767px) {
  .fp-title-roadmap {
    margin-left: -5px;
  }

  .section {
    padding: 0;
  }

  .fp-controlArrow.fp-prev {
    border-width: 20px 18px 20px 0 !important;
  }

  .fp-controlArrow.fp-next {
    border-width: 20px 0 20px 18px !important;
  }
}

@media (max-width: 567px) {
  .fp-quarter-text-4 {
    font-size: 2.3em;
    text-align: center;
  }

  .fp-controlArrow.fp-prev {
    display: none !important;
  }

  .fp-controlArrow.fp-next {
    display: none !important;
  }

  .fp-logo {
    width: 10rem;
    margin-bottom: 1.5em !important;
    margin-top: 2em !important;
  }

  .fp-title-roadmap {
    font-size: 40px;
    margin-bottom: 0.3em !important;
  }

  .fp-subtitle-roadmap {
    margin-bottom: 1.5em !important;
  }

  .fp-subtitle-roadmap,
  .fp-link-app a {
    font-size: 1.1em;
  }

  .fp-roadmap-item:not(:last-child) {
    margin-bottom: 1em !important;
  }

  .fp-roadmap-details .font-size-130 {
    font-size: 1em !important;
  }

  .fp-roadmap-details .font-size-110 {
    font-size: 0.85em !important;
  }

  .fp-icon-roadmap .fa-check-circle,
  .fp-roadmap-details .fa-check-circle {
    font-size: 1em !important;
  }

  .fp-slidesNav.fp-bottom {
    bottom: 20px !important;
  }

  .fp-divider {
    margin-right: 1em !important;
  }

  /* Nav */
  #mobile-nav .other-btns li {
    margin-bottom: 0.5em !important;
  }

  #mobile-nav .other-btns {
    margin-top: 0.5em !important;
  }

  #mobile-nav .other-btns li a {
    margin-left: 0 !important;
  }
}
